


.div_trier{
  padding-top: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
  float: right;
}
  
  
  
  .product-list {
    margin-top: 10%;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    margin-left: 2%;
    margin-right: 2%;
    }
  
    .product {
      padding-top: 10%;
      padding-left: 1%;
      padding-right: 1%;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    
    .product img {
      width: 100%;
      max-width: 200px;
      max-height: 200px;
      height: auto;
      border-radius: 5px;   
      transition: transform 0.3s;
    }
    
    .product h3 {
      margin-top: 30px;
      font-size: 18px;
      font-weight: bold;
    }
    
    .product p {
      margin-top: 5px;
      font-size: 14px;
      color: #666;
      margin-bottom: 5%;
    }
  
    .product img:hover {
      transform: scale(1.3);
    }

    .trier{
      height: 40px;
      width: 180px;
      background-color: aliceblue;
      border-radius: 5px;
      padding-left: 10px;
      font-size: 16px;
    }

    .retourPageCategorie{
      height: 40px;
      width: 180px;
      background-color: aliceblue;
      border-radius: 5px;
      font-size: 16px;
    }

    .retourPageCategorie:hover{
      cursor: pointer;
      background-color: lightblue;
    }
    