* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ----------- MENU ----------- */
nav {
  position: relative;
}
nav ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
nav li {
  position: relative;
  box-shadow: 0px 0px 2px 0px gray;
}
nav a {
  position: relative;
  text-align: center;
  display: block;
}
/* ------ MENU niveau 1 ------ */
nav > ul {
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
nav > ul > li {
  /*-webkit-flex: 1 1 auto;
  flex: 1 1 auto; *//* menus qui s'adaptent en largeur*/
  -webkit-flex:1 1 25%; flex:1 1 25%; /* 4 menus de meme largeur*/
}
/* --- MENU niveau 2 et suivants --- */
nav > ul ul {
  position: absolute;
  width: 50%;
  top: 100%; /* sous-menu DESSOUS */
  left:0;
  z-index: 999;
  display: none; /* on masque */
  min-width: 120px;
}

/* ----------- hover ----------- */
nav li:hover > ul {
  display: block; /* on affiche */
}
nav li:hover {
  background: blue;
}
nav li:hover > a {
  color: white;
}
/* ----------- DECORATION ----------- */
nav li {
  background: lightblue;
}
nav li li {
  background: lightblue;
  box-shadow: 2px 2px 3px lightgray;
}
nav a {
  padding: 10px;
  text-decoration: none;
  color: blue;
  font-family: "Arial", sans-serif;
}

/*-------------- FIN MENU -----------*/