
body{
  overflow-y: scroll;
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -9999;
  display: block;
  background-image: url("../Image/imgmontagne.jpg");
  width: 100vw;
  height: 100%;
  filter: blur(2px);
}

.formulaire{
  filter: none;
}
.content{
  border-radius: 20px;
  height: 65%;
  width: 40%;
  margin: 0 auto;
  margin-top: 1%;
  margin-left: 30%;
  margin-right: 20%; 
  z-index: -999;
  background-color: aliceblue;
  box-shadow: 2px 2px 2px #CCC;
}




  form {
    padding-top: 2%;
    z-index: 999;
    max-width: 400px;
    margin: 0 auto;
  }
  label {
    display: block;
    margin-top: 5%;
    margin-bottom: 2%;
  }
  label[for="password2"]{
    margin-top: 0px;
  }
  .input {
      width: 100%;
      padding: 10px;
      vertical-align: middle;
      border: 1px solid #ccc;
      box-sizing: border-box;
      font-size: 14px;
  }
  .input[id="ConfirmPassword"]{
    margin-top: 0;
  }


  .input[type="submit"] {
    margin-top: 5%;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }

  .Seconnecter{
    padding-bottom: 10%;
    margin-bottom: 25%;
    margin-top: 5%;
    text-align: center;
  }

.Seconnecter:hover {
    cursor:pointer;
  }
  
  @media (max-width: 600px) {
    form {
      width: 80%;
    }
    .content{
      height: 50%;
    }
  }
  @media (max-width: 900px) {
    form {
      width: 80%;
    }
    .content{
      margin-left: 15%;
      width: 80%;
      height: 60%;
    }
  }


  @media (max-width: 1200px) {
    form {
      width: 80%;
    }
    .content{
      height: 60%;
    }
  }